body {
    width: 250px;
    height: 350px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  #color-picker-container {
    text-align: center;
  }
  
  #selected-color {
    font-weight: bold;
    font-size: 13px;
    text-shadow: black;
  }
  
  #color-value {
    font-weight: bold;
  }
  
  .copied-popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 999;
  }
  
  .select {
    height: 30px;
    width: 30px;
    padding: 0;
  }